# Unity Specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Other
*.bak
*.swp
*.lock
